%h1 Website pageviews

%ul
- @website.pageviews.each do |pageview|
  %li
    = link_to pageview_path(pageview) do
      url: #{pageview.url}, key: #{pageview.key}
- unless @website.pageviews.any?
  %h4 You have no recordings yet. Install your tracking code to start recording

%h2 Tracking code
%pre
  :escaped
    <script src="#{tracker_url(@website.key, format: :js)}"></script>