%h1 Visitors

- @visitors.each do |visitor|
  visitor key:
  = visitor.key
  %br
  pageviews:
  %ul
    - visitor.pageviews.each do |pageview|
      %li
        = link_to pageview_path(pageview) do
          url: #{pageview.url}, key: #{pageview.key}